<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href='/static/common.css' />
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <meta name="viewport" content="width=device-width" , initial-scale="1.0">
  <meta charset="utf-8">
</head>

<body>

  <header>

  </header>


  <nav>
    <ol>
      <li><a href="/">About</a></li>
      <li><a href="/">How To Use</a></li>
      <li style="float: right;"><button onclick="LoginState()">Login</button></li>
    </ol>
  </nav>

  <main>
    <form id="Login" action="" method="post">
      <div class="imgcontainer">
        <img src="/static/images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container">
        <button onclick="LoginState()" type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>

  </main>

  <footer>

  </footer>

  <script>
  function LoginState() {
    state = document.getElementById("Login")
    if (state.style.display == "none"){
      state.style.display = "block"}
    else {
      state.style.display = "none"
    }
  }
  </script>

</body>

</html>